



<mat-accordion class="example-headers-align">
  
    <mat-expansion-panel [expanded]="step ===0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="headertitle">ISRO</div>
        </mat-panel-title>
        <mat-panel-description>
   <div class="headertitle"></div>
  
        </mat-panel-description>
      </mat-expansion-panel-header>
     
  
  
  
          <mat-card class="custom-card mat-elevation-z4">
  
            <img mat-card-image src="/assets/about.png">
          </mat-card>
          
     
  
     
  
  
      <mat-action-row>
        <button mat-button class="custombutton" (click)="prevStep()">Previous</button>
        <button mat-button class="custombutton" (click)="nextStep()">Collapse</button>
      </mat-action-row>
    </mat-expansion-panel>
  
  
  
  
  
  
  </mat-accordion>